.skills {
  background-color: #142936;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.skills h1 {
  position: absolute;
  font-family: "Open Sans", "Nunito", sans-serif;
  color: rgb(223, 203, 203);
  border-bottom: 3px solid lightgray;
  top: 5rem;
  left: 20rem;
  /* padding: 10px 0 0 100px; */
}

.skills__container {
  padding: 50px;
  width: 40%;
  box-sizing: border-box;
}

.skills__container p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: rgb(223, 203, 203);
  margin-bottom: 50px;
}

.skills__bar {
  position: relative;
  height: 35px;
  background-color: #413651;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 45px;
}

.skills__bar li {
  background-color: #673ab7;
  list-style: none;
  border-radius: 3px 0 0 3px;
  height: 35px;
}

.skills__bar li span {
  position: absolute;
  top: -30px;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  color: rgb(223, 203, 203);
  text-transform: uppercase;
}
